body{
    background-color: #eae7dc;
    border:solid 2px #8e8d8a;
}
header{
    color: #e85a4f;
border-bottom: 10px dotted #254e58;

}
h2{
    color: #2c3531;
    text-align: center;
}
footer{
    border:solid 5px green;
    margin:10px;
    
}